<script src="@Url.Content("assets/vendor/datatables/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("assets/vendor/datatables/dataTables.responsive.min.js")"></script>
<script src="@Url.Content("assets/vendor/datatables/js/dataTables.select.min.js")"></script>
<script src="@Url.Content("assets/vendor/datatables/js/dataTables.checkboxes.min.js")"></script>



<!-- Datatable -->


<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <button onclick="Selecall()" > selecc al check</button>
            <table id="example" class="display" style="width: 100%">
       
            </table>
        </div>
    </div>
</div>


<script>
    var url = baseUrl + 'Administracion/Prueba/Ventas_Paginado';
    var Usuarios_Grilla = "example";
    //var Usuarios_MyDt= null;


    var colModels = [
          { data: "COD_UBIGEO", name: "COD_UBIGEO", title: "COD_UBIGEO", autoWidth: true, "class": "read_only" },
          { data: "COD_UBIGEO_PADRE", name: "COD_UBIGEO_PADRE", title: "COD_UBIGEO_PADRE", "autoWidth": true },
          { data: "DESC_UBIGEO", name: "DESC_UBIGEO", title: "DESC_UBIGEO", autoWidth: true },
          { data: "TIP_ZONA_GEO", name: "TIP_ZONA_GEO", title: "TIP_ZONA_GEO", autoWidth: true },
            {
                data: null,
                sortable: false,
                title: "Editar",
                width: "80px", 
                render: function (data, type, row, meta) { return "<a class=\"btn btn-primary\" style=\"color:white\" onclick=Editar("+ data.COD_UBIGEO + ")\> Edit </a>"; }
            }
          ]; 
 var opciones = {
     GridLocal: true, multiselect: false, sort: "desc" , PositionColumnSort: 1 , // numero columna para ordenar
     eliminar: false, search: true, rowNumber: 10, rowNumbers: [10, 25, 50], rules: true,responsive : true , processing :true
 };

   DataTable.Grilla(Usuarios_Grilla, url, 'COD_UBIGEO', colModels, opciones);

 function GetRules(Ventas_Grilla) {
     var rules = new Array();
     var SearchFields = new Array();

     var FECHA_VENTA = moment().format('DD/MM/YYYY');
     var ID_TIPO_COMPROBANTE = jQuery('#ID_TIPO_COMPROBANTE_SEARCH').val() == '' ? null : "'" + jQuery('#ID_TIPO_COMPROBANTE_SEARCH').val() + "'";
     var ID_TIPO_PAGO = jQuery('#ID_TIPO_PAGO_SEARCH').val() == '' ? null : "'" + jQuery('#ID_TIPO_PAGO_SEARCH').val() + "'";
     var CODIGO_VENTA = "'" + jQuery('#Ventas_CodigoVenta').val() + "'";
     var _USUARIO_LOGEADO = "'" + jQuery('#input_hdcodusuario').val() + "'";

     var POR = "'%'";
     rules = []

     //rules.push({ field: 'UPPER(COD_UBIGEO)', data: POR + ' + ' + '' + ' + ' + POR, op: " LIKE " });
     /*
     rules.push({ field: 'UPPER(COD_COMPROBANTE)', data: POR + ' + ' + CODIGO_VENTA + ' + ' + POR, op: " LIKE " });
     rules.push({ field: 'ID_TIPO_COMPROBANTE', data: '  ISNULL(' + ID_TIPO_COMPROBANTE + ',ID_TIPO_COMPROBANTE) ', op: " = " });
     rules.push({ field: 'ID_TIPO_PAGO', data: '  ISNULL(' + ID_TIPO_PAGO + ',ID_TIPO_PAGO) ', op: " = " });
     rules.push({ field: 'CONVERT(DATE,FEC_CREACION,103)', data: 'CONVERT(DATE,\'' + FECHA_VENTA + '\',103) ', op: " = " });
     rules.push({ field: 'UPPER(USU_CREACION)', data: _USUARIO_LOGEADO, op: " = " }); */


     SearchFields.push({ field: 'UPPER(COD_UBIGEO)' });
     SearchFields.push({ field: 'UPPER(DESC_UBIGEO)' });

     var ObjectRules = {
         SearchFields: SearchFields,
         rules: rules 
     }
  
     return ObjectRules;
 }



 function Editar(id) {
     alert(id); 
 }
 function Selecall() {
     debugger; 
    DataTable.addRowData(Usuarios_Grilla,{
         "COD_UBIGEO": "2",
         "COD_UBIGEO_PADRE": "System Architect",
         "DESC_UBIGEO": "$3,120",
         "TIP_ZONA_GEO": "2011/04/25"
                  }  );

 }
</script>
